.loading-page{

    width:100%;

    height:100vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    gap:30px;

    background:linear-gradient(
        135deg,
        #020617,
        #0f172a,
        #1d4ed8,
        #2563eb
    );

    overflow:hidden;

}

/* Loader */

.loader {

  width:150px;

  height:150px;

  position:relative;

  display:flex;

  align-items:center;

  justify-content:center;

}

.loader_cube {

  position:absolute;

  width:100%;

  height:100%;

  border-radius:30px;

}

.loader_cube--glowing {

  z-index:2;

  background-color:rgba(255,255,255,.2);

  border:2px solid rgba(255,255,255,.35);

  backdrop-filter:blur(8px);

}

.loader_cube--color {

  z-index:1;

  filter:blur(2px);

  background:linear-gradient(
      135deg,
      #1afbf0,
      #da00ff
  );

  animation:loadtwo 2.5s ease-in-out infinite;

}

.loading-page h2{

    color:white;

    font-size:34px;

    font-weight:700;

}

.loading-page p{

    color:#cbd5e1;

    font-size:18px;

}

@keyframes loadtwo {

  50% {

    transform:rotate(-80deg);

  }

}